@page
@model SimpleBillPay.Pages.BillPay.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillPay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillPay.BillPayDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillPay.BillPayDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillPay.StartingAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillPay.StartingAmount)
        </dd>
    </dl>
</div>