@page
@model SimpleBillPay.Pages.Payments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payment.Amount" class="control-label"></label>
                <input asp-for="Payment.Amount" class="form-control" />
                <span asp-validation-for="Payment.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.BillInstanceID" class="control-label"></label>
                <select asp-for="Payment.BillInstanceID" class ="form-control" asp-items="ViewBag.BillInstanceID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Payment.PaymentDate" class="control-label"></label>
                <input asp-for="Payment.PaymentDate" class="form-control" />
                <span asp-validation-for="Payment.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.DateConfirmed" class="control-label"></label>
                <input asp-for="Payment.DateConfirmed" class="form-control" />
                <span asp-validation-for="Payment.DateConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.BillPayID" class="control-label"></label>
                <select asp-for="Payment.BillPayID" class ="form-control" asp-items="ViewBag.BillPayID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
